In [2]:
import pandas as pd

In [3]:
oos_classif = pd.read_parquet("../data/processed/scored/oos_scored.parquet")
oos_classif

            proba  risk_bucket loan_sequence_number vintage  default_24m
0        0.015019            8         F24Q10000001  2024Q1            0
1        0.015019            8         F24Q10000002  2024Q1            0
2        0.015019            8         F24Q10000003  2024Q1            0
3        0.015019            8         F24Q10000004  2024Q1            0
4        0.015019            8         F24Q10000005  2024Q1            0
...           ...          ...                  ...     ...          ...
1047174  0.015019            8         F24Q40281897  2024Q4            0
1047175  0.015019            8         F24Q40281898  2024Q4            0
1047176  0.015019            8         F24Q40281899  2024Q4            0
1047177  0.015019            8         F24Q40281900  2024Q4            0
1047178  0.015019            8         F24Q40281901  2024Q4            0

[1047179 rows x 5 columns]

In [ ]:
# utils function
from matplotlib import axis


def vintage_res(vint,oos_classif = oos_classif):
    df_ouput = oos_classif[oos_classif["vintage"] == vint].copy()
    df_ouput.drop(columns = ["loan_sequence_number","vintage"],
                   axis = 1, inplace = True) 
    return df_ouput

# test = vintage_res("2024Q1")
# test.head()

      proba  risk_bucket  default_24m
0  0.015019            8            0
1  0.015019            8            0
2  0.015019            8            0
3  0.015019            8            0
4  0.015019            8            0